:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(1, 0, 0, 0.87);
  background-color: #f7cdcd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */
.header {
  display: block;
  border-bottom: #fff solid 1px;

}

.header h1 {
  font-family: "Zen Tokyo Zoo", system-ui;
  font-size: 4em;
  line-height: .90;
  margin: 0;
}

.tagline {
  line-height: .90;
  font-weight: 100;
  margin: 0;
}

/* Navbar */
.topnav {
  overflow: hidden;
  position: relative;
  display: flex;
}

.topnav h3 {
  padding-top: 1.5%;
  padding-left: 1%;
  font-weight: 100;
}

.topnav #myLinks {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 10px;
  z-index: 1;
}

.topnav a {
  color: rgb(4, 0, 0);
  padding: 14px 16px;
  font-size: 20px;
}

.topnav a.icon {
  font-size: 40px;
  position: absolute;
  right: -10px;
  top: 35px;
}

.topnav a:hover {
  color: #fcfcfc;
}

#myLinks a:hover {
  color: #f7cdcd;
}

.active {
  color: white;
}

.closebtn {
  background: none;
  border: none;
  font-size: 2em;
  margin-left: 1em;
  cursor: pointer;
  color: #000;
}

/* homepage */

.home-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

a:hover {
  color: #f2f2f6;
}

body {
  margin: 10px;
  min-width: 90vw;
  min-height: 100vh;
}

h1 {
  font-family: "Cascadia Mono", sans-serif;
  font-size: 4em;
  line-height: .90;
}

h2,
h3 {
  font-family: "Cascadia Mono", sans-serif;
  font-size: 2em;
  line-height: .90;
}

button {
  border-radius: 8px;
  background-color: #080707;
  border: 20px solid #000000;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #f9b6ed;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Sort Form */

.sort-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.sort-form select {
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: #f9f9f9;
  color: #000000;
}

/* Explore section */
.image-overlay-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.article-list-explore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

.image-overlay-container img,
.image-overlay-container .card-img-top {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;

}

.overlay-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 76%;
  background: rgba(20, 20, 20, 0.7);
  color: #fff;
  padding: 1rem;
  text-align: left;
  box-sizing: border-box;
  z-index: 2;
}

.overlay-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95.5%;
  background: rgba(20, 20, 20, 0.343);
  color: #fff;
  padding: .5rem;
  text-align: left;
}

.overlay-title h2 {
  margin: 0;
  font-size: 1.33em;
}

.article-card-explore {
  flex: 1 1 300px;
  max-width: 350px;
  min-width: 250px;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
/* home page second tile */

.home-page-second {
  display: block;
}

/* latest-articles-list */
.latest-articles-list {
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
}

.latest-articles-list li {
  list-style-type: none;
  text-decoration: underline;
}

/* Article Page */

.article-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
}

.article-list img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
}

.article-card {
  flex: 1 1 calc(33.333% - 2rem);
  max-width: calc(33.333% - 2rem);
  min-width: 250px;
  box-shadow: 0 2px 4px rgba(42, 27, 27, 0.1);
  border-radius: 20px;
}

/* TopicsSidebar */

.topics-sidebar {
  float: right;
  width: 30%;
  padding-right: 15px;
  margin-right: 15px;
}

/* Comments */
.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(42, 27, 27, 0.1);
}

.comment-card h3 {
  font-size: 1.5em;
  margin: 0;
}

.comment-card p {
  font-size: 1em;
  margin: 0;
}

.comment-card button {
  background-color: #000000;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  font-size: .75em;
  width: 50%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(42, 27, 27, 0.1);
}

.comment-form textarea {
  color: #000000;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid #000000;
  margin-bottom: 1rem;
}

/* Votes */
.votes-container {
  display: flex;
  font-size: large;

}

.votes-container button {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 20px;
}

.tooltip {
  position: absolute;
  top: -2.5em;
  left: 50%;
  transform: translateX(-75%);
  background: #ffffff;
  color: #0a0000;
  padding: 0.5em 1em;
  position: relative;
  display: inline-block;
  border-radius: 4px;
  font-size: 0.75em;
  z-index: 10;
  white-space: nowrap;
  cursor: pointer;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  font-size: .8em;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(42, 27, 27, 0.1);

}

.footer a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

.footer a:hover {
  color: #f2f2f6;
}

.footer a:visited {
  color: #000000;
}

/* Responsive formats */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


@media (max-width: 900px) {
  .article-card {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}


@media (max-width: 600px) {
  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }

  .article-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  /* Header Mobile */
  .header {
    flex-direction: column;
  }

  .tagline {
    align-content: center;
    padding-top: 20%;
  }

  .header h3 {
    font-weight: 100;
    font-size: 1.3rem;
  }

  /* navbar mobile */
  .topnav {
    overflow: hidden;
    position: relative;
  }

  .topnav #myLinks {
    display: flex;
    background-color: #f9f9f9;
    z-index: 1;
  }

  #myLinks a:hover {
    color: #f7cdcd;
  }

  .topnav a {
    color: rgb(4, 0, 0);
    padding: 14px 16px;
    font-size: 20px;
  }

  .topnav a:hover {
    color: #fcfcfc;
    transition: all 0.2s;
  }

  .topnav a.icon,
  .topnav a:active {
    display: flex !important;
    font-size: 2em;
  }

  .topnav a {
    transition: all 0.2s;
  }
.closebtn {
  background: none;
  border: none;
  font-size: 2em;
  margin-left: 1em;
  cursor: pointer;
  color: #000;
}
  /* explore section */
  .overlay-content {
    padding: 0.5rem;
    font-size: 0.95em;
  }

  .overlay-content h2 {
    font-size: 1.1em;
  }


  .article-card-explore {
    display: inline;
  }

  .image-overlay-container {
    position: relative;
  }

  .image-overlay-container img,
  .image-overlay-container .card-img-top {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95.5%;
    background: rgba(20, 20, 20, 0.343);
    color: #fff;
    padding: .5rem;
    text-align: left;
  }

  .overlay-title h2 {
    margin: 0;
    font-size: 1.33em;
  }

  .carousel-overlay-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(0%);
    z-index: 2;
    background: rgba(249, 166, 166, 0);
    color: #fbf8f8;
    border: none;
    font-size: 3rem;
    padding: 0.5em 0.8em;
    border-radius: 50%;
    cursor: pointer;

  }

  .carousel-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .prev-btn {
    left: 10px;
    z-index: 2;
  }

  .next-btn {
    right: 10px;
  }

  .latest-articles-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }
}