:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(1, 0, 0, 0.87);
  background-color: #f7cdcd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(42, 27, 27, 0.1);
}
.header h1 {
  font-family: "Zen Tokyo Zoo", system-ui;
  font-size: 4em;
  line-height: .90;
  margin: 0;
}
.home-page-hero{
  display: flex;
  background-color: #f2f2f6;
  flex-direction: column;
  text-justify: newspaper;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(42, 27, 27, 0.1);
}
a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #f2f2f6;
}

body {
  margin: 10px;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}
h1 {
  font-family: "Cascadia Mono", sans-serif;;
  font-size: 4em;
  line-height: .90;
}

h2, h3 {
  font-family: "Cascadia Mono", sans-serif;;
  font-size: 2em;
  line-height: .90;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  max-width: 100%;
}

.article-list {
  display: flex;
  flex-wrap: wrap;

}
.article-list-container{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.article-card {
  flex: 1 1 calc(33.333% - 2rem);
  max-width: calc(33.333% - 2rem);
  min-width: 250px;
  box-shadow: 0 2px 4px rgba(42, 27, 27, 0.1);
  border-radius: 20px;
}

/* Comments */
.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(42, 27, 27, 0.1);
}
.comment-card h3 {
  font-size: 1.5em;
  margin: 0;
}
.comment-card p {
  font-size: 1em;
  margin: 0;
}
.comment-form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(42, 27, 27, 0.1);
}
.comment-form textarea {
  color: #000000;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid #000000;
  margin-bottom: 1rem;
}
/* Votes */
.votes-container {
  display: flex;
  font-size: large;

}

.votes-container button {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 20px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  font-size: .8em;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(42, 27, 27, 0.1);
  
}
.footer a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
.footer a:hover {
  color: #f2f2f6;
}
.footer a:visited {
  color: #000000;
}

/* Dynamic formats */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media (max-width: 900px) {
  .article-card {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}


@media (max-width: 600px) {
  .article-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  /* navbar mobile */

 .navbar {
    border-radius: 0;
    margin-bottom: 1rem;
  }
  .navbar-brand {
    font-size: 1.3em;
  }
  .navbar-nav .nav-link {
    margin-right: 0;
    font-size: 1em;
    padding: 0.7em 0;
  }


.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}
}